body {
  background-color: black;
  margin: 0;
}

nav {
  background-color: lightblue;
  height: 8vh;
  width: 100%;
}

.page {
  height: 100vh;
  padding: 8vh 0;
  width: 100vw;
}

.sticky {
  position: fixed;
  top: 0;
}

#nav-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 100%;
}

body > div:nth-of-type(1) {
  background-color: lightblue;
}

body > div:nth-of-type(2) {
  background-color: red;
}

body > div:nth-of-type(3) {
  background-color: blue;
}

body > div:nth-of-type(4) {
  background-color: orange;
}

body > div:nth-of-type(5) {
  background-color: green;
}
