body {
  margin: 0;
}

footer {
  background-color: #313131;
  height: 8vh;
  width: 100vw;
}

h4 p {
  margin: 0;
  margin-top: -1vh;
  text-align: center;
}

hr {
  margin: 0;
  border: 0;
}

nav {
  background-color: #313131;
  font-family: 'Unica One', cursive;
  font-size: 5vw;
  height: 8vh;
  width: 100%;
}

nav a {
  color: white;
}

nav a:hover {
  background-color: rgba(160, 160, 160, 0.082);
}

.active, .active:hover {
  background-color: grey;
  border-bottom: 0.4vh solid crimson;
}

.column.flex {
  flex-flow: column nowrap;
}

.container {
  grid-column-start: 2;
  grid-row-start: 3;
}

.fixed {
  position: fixed;
  top: 0;
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.fixed + hr {
  padding-top: 8vh;
}

.nav-link {
  align-items: center;
  border-radius: 5px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
}

.page {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 8vh 8vh 76vh 8vh;
  height: 100vh;
  width: 100vw;
}

.section-header {
  align-items: center;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content: center;
}

.shadowed {
  text-shadow: 2px 2px 20px black;
}

#about {
  background-color: orange;
}

#contact {
  background-color: green;
}

#header {
  background-color: #313131;
  grid-template-columns: 100vw;
  grid-template-rows: 92vh;
  height: 92vh;
  padding: 0;
}

#header-container {
  grid-column-start: 1;
  grid-row-start: 1;
}

#header-title {
  color: whitesmoke;
  font-family: 'Unica One', cursive;
  font-size: 5vw;
  margin-top: 0;
}

#name {
  color: whitesmoke;
  font-family: 'Great Vibes', cursive;
  font-size: 13.5vw;
  margin: 0;
}

#nav-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: 100%;
}

#portfolio {
  background-color: blue;
}

#skills {
  background-color: lightgrey;
}

@media only screen and (min-width: 768px) {
  nav {
    font-size: 2.5em;
  }

  #header-title {
    font-size: 4vw;
  }

  #name {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  nav {
    font-size: 2em;
  }

  #name {
    font-size: 13vw;
  }
}
