body {
  background-color: black;
  margin: 0;
}

nav {
  background-color: lightblue;
  height: 8vh;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
}

.fixed + .page {
  padding: 18vh 10vw;
}

.page {
  height: 100vh;
  padding: 10vh 10vw;
  width: 100vw;
}

#header {
  height: 92vh;
}

#nav-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 100%;
}

body > div:nth-of-type(1) {
  background-color: lightblue;
}

body > div:nth-of-type(2) {
  background-color: red;
}

body > div:nth-of-type(3) {
  background-color: blue;
}

body > div:nth-of-type(4) {
  background-color: orange;
}

body > div:nth-of-type(5) {
  background-color: green;
}

@media only screen and (min-width: 768px) {
  nav {
    font-size: 2em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  nav {
    font-size: 1.5em;
  }
}
