body {
  background-color: black;
  margin: 0;
}

hr {
  height: 0px;
  margin: 0;
  width: 100%;
}

nav {
  background-color: lightblue;
  height: 8vh;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-row-start: 2;
}

.fixed {
  position: fixed;
  top: 0;
}

.fixed + hr {
  padding-top: 8vh;
}

.page {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
  width: 100vw;
}

.page:nth-of-type(1) {
  background-color: lightblue;
}

.page:nth-of-type(2) {
  background-color: red;
}

.page:nth-of-type(3) {
  background-color: blue;
}

.page:nth-of-type(4) {
  background-color: orange;
}

.page:nth-of-type(5) {
  background-color: green;
}

#header {
  height: 92vh;
  padding: 0;
}

#nav-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  nav {
    font-size: 2em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  nav {
    font-size: 1.5em;
  }
}
