body {
  margin: 0;
}

footer {
  background-color: #313131;
  height: 8vh;
  width: 100vw;
}

hr {
  margin: 0;
  border: 0;
}

nav {
  background-color: #313131;
  font-family: 'Unica One', cursive;
  font-size: 5vw;
  height: 8vh;
  width: 100%;
}

nav a {
  color: white;
}

.column.flex {
  flex-flow: column nowrap;
}

.container {
  grid-column-start: 2;
  grid-row-start: 3;
}

.fixed {
  position: fixed;
  top: 0;
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.fixed + hr {
  padding-top: 8vh;
}

.page {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 8vh 8vh 76vh 8vh;
  height: 100vh;
  width: 100vw;
}

.section-header {
  align-items: center;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content: center;
}

.shadowed {
  text-shadow: 2px 2px 5px black;
}

#about {
  background-color: orange;
}

#contact {
  background-color: green;
}

#header {
  background-color: #313131;
  grid-template-columns: 100vw;
  grid-template-rows: 92vh;
  height: 92vh;
  padding: 0;
}

#header-container {
  grid-column-start: 1;
  grid-row-start: 1;
}

#header-title {
  color: white;
  font-family: 'Unica One', cursive;
  font-size: 6vw;
  margin-top: 0;
}

#name {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 13.5vw;
  margin: 0;
}

#nav-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 100%;
}

#portfolio {
  background-color: blue;
}

#skills {
  background-color: red;
}

@media only screen and (min-width: 768px) {
  nav {
    font-size: 2.5em;
  }

  #header-title {
    font-size: 4vw;
  }

  #name {
    font-size: 10vw;
  }

  #nav-container {
    padding-left: 2.25%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  nav {
    font-size: 2em;
  }

  #name {
    font-size: 13vw;
  }
}
