body {
  margin: 0;
}

footer {
  background-color: #313131;
  height: 8vh;
  width: 100vw;
}

h4 p {
  margin: 0;
  margin-top: -1vh;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

hr {
  margin: 0;
  border: 0;
}

nav {
  background-color: #313131;
  font-family: 'Unica One', cursive;
  font-size: 5vw;
  height: 8vh;
  width: 100%;
  z-index: 10;
}

nav a {
  color: white;
  border-bottom: 0.4vh solid #313131;
}

nav a:hover {
  background-color: rgba(199, 199, 199, 0.082);
  color: rgb(161, 107, 211);
}

.nav-active {
  border-bottom: 0.4vh solid crimson;
}

.nav-active,
.nav-active:hover {
  background-color: grey;
  color: white;
}

.centered {
  text-align: center;
}

.column.flex {
  flex-flow: column nowrap;
}

.container {
  grid-column-start: 1;
  grid-row-start: 3;
  padding: 0 2vw;
}

.content {
  text-align: center;
}

.fixed {
  position: fixed;
  top: 0;
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.fixed + hr {
  padding-top: 8vh;
}

.icon-link:hover {
  color: rgb(115, 50, 177);
}

.modal-content {
  color: black;
}

.nav-link {
  align-items: center;
  border-radius: 5px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
}

.page {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8vh 10vh minmax(82vh, max-content);
}

.section-header {
  align-items: center;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 3.5vh;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-content: center;
}

.shadowed {
  text-shadow: 5px 5px 20px black;
}

.spaced {
  display: flex;
  justify-content: space-around;
}

.tech-image {
  max-height: 150px;
  max-width: 100px;
  width: auto;
}

.ui.stackable.doubling.four.cards {
  margin: 0;
}

#about {
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.6em;
}

#contact {
  background-color: #313131;
  color: white;
}

#contact > .container {
  background: #313131; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #071690,
    #313131
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #071690,
    #313131
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header {
  background-image: url('img/integration.jpeg');
  background-size: 100% 100%;
  grid-template-columns: 100vw;
  grid-template-rows: 92vh;
  padding: 0;
}

#header-container {
  grid-column-start: 1;
  grid-row-start: 1;
}

#header-title {
  color: whitesmoke;
  font-family: 'Unica One', cursive;
  font-size: 7vw;
  margin-top: 0;
}

#name {
  color: whitesmoke;
  font-family: 'Great Vibes', cursive;
  font-size: 16vw;
  margin: 0;
}

#nav-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: 100%;
}

#portfolio {
  background: #5f6b8d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d7dde8,
    #5f6b8d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7dde8,
    #5f6b8d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#skills {
  background: #d4d2ca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #d4d2ca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #d4d2ca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 1051px) {
  nav {
    font-size: 3em;
  }

  .section-header {
    font-size: 5vh;
  }

  .tech-image {
    max-height: 200px;
    max-width: 200px;
    width: auto;
  }

  #header {
    background-image: url('img/grey-desktop.jpeg');
    background-size: 100% 110%;
  }

  #header-title {
    font-size: 5vw;
  }

  #name {
    font-size: 12vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
  nav {
    font-size: 2.5em;
  }

  .height-adjust-tablet {
    height: 20vh;
  }

  .section-header {
    font-size: 5vh;
  }

  #header {
    background-image: url('img/white-desktop.jpeg');
    background-size: 110% 100%;
  }

  #header-title {
    font-size: 7vw;
  }

  #name {
    font-size: 15vw;
  }
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
  nav {
    font-size: 2em;
  }

  .section-header {
    font-size: 5vh;
  }

  #name {
    font-size: 13vw;
  }
}
